@import "tailwindcss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;
    color: #e6e6e6;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}